/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); /* Colorful gradient background */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #212121;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

/* Hero Section Styles */

.hero {
  background-image: linear-gradient(to bottom, #f7f7f7, #fff);
  background-size: 100% 300px;
  background-position: 0% 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px; /* Reduce the space after the hero container */
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 10px; /* Reduce the space below the heading */
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px; /* Reduce the space below the paragraph */
}

.hero .btn-primary {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.hero .btn-primary:hover {
  background-color: #23527c;
}

/* Animate hero section */
.hero.animate {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Professor Card Styles */

.professor-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px; /* Reduce margin between the cards */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.professor-card img {
  width: 100%; /* Make the image take up the full width of its container */
  height: auto; /* Maintain the aspect ratio */
  max-width: 300px; /* Limit the maximum width to 300px (or any desired value) */
  max-height: 300px; /* Limit the maximum height to 300px (or any desired value) */
  border-radius: 10px; /* Adjust border-radius for a slight rounding */
  margin: 0 auto; /* Center align the image */
  display: block;
}

.professor-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.professor-card p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Schedule Section Styles */

.schedule {
  background-color: #f7f7f7;
  padding: 20px;
}

.schedule ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.schedule li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.schedule li:last-child {
  border-bottom: none;
}

/* Footer Styles */

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Animate professor cards */
.professor-card.animate {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
